* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

/******************
----CONTAINER / geral----
*******************/

.container {
    width: 1170px;
    margin: 0 auto;
}

/**************
  ----HOME----
**************/

.home {
    background-image: url(../img/background-home.jpg);
    background-size: cover;
    height: 100vh;
}

.home .ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.home .ul .li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home h1 {
    display: inline-block;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 30px;
}

.home span {
    color: brown;
}

.home a {
    color: white;
    font-weight: 600;
    padding: 15px 10px;
    border-bottom: 2px solid transparent;
}

.home a:hover {
    border-bottom: 2px solid brown;
    color: brown;
}

/***********************
  ----HOME - BANNER----
************************/

.banner {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    border-radius: 10px;
}

.banner .box1 {
    margin: auto 0;
    margin-left: 20px;
}

.banner .box2 {
    margin: 0 auto;
}

.banner .box3 {
    margin: auto 0;
    margin-right: 20px;
}

.banner .img1 {
    text-align: start;
    width: 200px;
    background-color: brown;
    border-radius: 50%;
}

.banner .p1 {
    text-transform: uppercase;
    font-weight: 600;
    color: brown;
    margin-top: 50px;
    font-size: 19px;
}

.banner h1 {
    font-size: 65px;
}

.banner .p2 {
    font-size: 16px;
    margin-top: 10px;
    text-transform: lowercase;
}
.banner .img2 {
    width: 60px;
    margin-top: 30px;
}

/******************
  -----main-----
*******************/

.main {
    background-color: black;
    background-image: url(../img/main-box2.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: right bottom;
}

.main .container {
    display: flex;
}

/******************
----main - box1----
*******************/

.main .box1 {
    width: 33%;
    background-image: url(../img/main1.jpg);
    background-size: cover;
}

.main .container .box1 .b1 {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    height: 100%;
}

.main .container .box1 .b1 .img1 {
    width: 60px;
    margin-top: 20px;
}

.main .container .box1 .b1 h2 {
    color: #dcdcdc;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid brown;
    border-top: 1px solid brown;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main .container .box1 .b1 h3 {
    font-size: 20px;
    color: #dcdcdc;
    font-weight: 400;
}

.main .container .box1 .b1 h4 {
    margin-top: 5px;
    font-size: 18px;
    color: #a9a9a9;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.main .container .box1 .b1 .img2 {
    width: 40px;
}

.main .container .box1 .b1 .img3 {
    width: 30px;
}

/******************* 
    ----box2----
*********************/

.main .container .box2 {
    width: 66%;
    color: #dcdcdc;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
}

/******************* 
    ----box2 - b1----
*********************/

.main .container .box2 .b1 span {
    margin-top: 20px;
    color: brown;
    font-size: 25px;
    text-transform: capitalize;
}

.main .container .box2 .b1 h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;
}

.main .container .box2 .b1 p {
    margin-bottom: 20px;
    font-size: 17px;
    color: #a9a9a9;
    width: 500px;
}

/******************* 
    ----section----
*********************/

.section {
    background-image: url(../img/yearone-2y4qGxu-4Do-unsplash.jpg);
    background-size: cover;
    text-align: center;
    padding-bottom: 100px;
}

.section h2 {
    font-size: 30px;
    color: brown;
    font-weight: 500;
    padding-top: 20px;
}

.section img {
    width: 50px;
}

/************************** 
    ----section - box1----
***************************/

.section .box1 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.section .box1 .b123 {
    width: 500px;
    border: 3px solid brown;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
}

.section .box1 .b123:hover {
    background: brown;
}

.section .box1 .b123 img {
    width: 50px;
}

.section .box1 .b123 h3 {
    color: #dcdcdc;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 20px;
    text-transform: uppercase;
}

.section .box1 .b123 p {
    color: #a9a9a9;
    font-size: 17px;
}

/************************** 
    ----input----
***************************/

.input {
    background-color: black;
    background-image: url(../img/input.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 600px;
    color: #dcdcdc;
    text-align: center;
    padding-top: 20px;
}

.input .container h3 {
    font-size: 50px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 30px;
}

.input .container img {
    width: 50px;
}

/************************** 
    ----input - box1----
***************************/

.input .container .box1 {
    display: flex;
    gap: 60px;
    margin-top: 80px;
}

.input .container label {
    display: inline-block;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

/************************** 
    ----input - b1----
***************************/

.input .container .box1 .b1 input,
.input .container .box1 .b1 select,
.input .container .b1 {
    padding: 10px 10px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    color: black;
}

/************************** 
    ----input - b2----
***************************/

.input .container .b2 {
    padding-top: 20px;
}

.input .container .b2 textarea {
    border-radius: 10px;
}

.input .container .b2 label {
    display: block;
}

/************************** 
    ----input - button----
***************************/

.input .container button {
    margin-top: 30px;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    background-color: brown;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
}

.input .container button:hover {
    background-color: rgb(70, 12, 12);
}

/************************** 
    ----preços----
***************************/

.precos {
    background-color: black;
}

/************************** 
   ----preços - grid----
***************************/

.precos .container .grid {
    color: #dcdcdc;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    gap: 40px;
}
.precos .container .grid .box {
    border: 3px solid #dcdcdc;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.precos .container .grid .box img {
    display: block;
    width: 300px;
    border-radius: 10px;
}

/************************** 
   ----localizacao----
***************************/

.localizacao {
    height: 100vh;
    background-color: black;
}

.localizacao .container .flex {
    display: flex;
    justify-content: space-around;
    border: 2px solid brown;
    border-radius: 5px;
    padding: 10px 0px;
}

.localizacao .container .flex .box {
    color: #dcdcdc;
    display: flex;
}

.localizacao .container .flex .box img {
    width: 30px;
    margin-right: 20px;
}

.localizacao .container .flex .box .img3 {
    width: 43px;
}

.localizacao .container .flex .box h4 {
    color: #dcdcdc;
    font-size: 15px;
    text-transform: uppercase;
}

.localizacao .container .flex .box h6 {
    color: #a9a9a9;
    font-size: 12px;
    text-transform: capitalize;
}

.localizacao .container .map {
    width: 100%;
}

.localizacao .container .map {
    width: 100%;
}

.localizacao .container .map {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.localizacao .container .map iframe {
    width: 100%;
    border-radius: 5px;
}

.footer {
    height: 100px;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h2 {
    font-size: 32px;
    text-transform: capitalize;
    color: #dcdcdc;
}

.footer h2 span {
    color: #dcdcdc;
    text-transform: uppercase;
    font-size: 36px;
}
